.library-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    color: white;
}
body {
    align-items: center;
    justify-content: center;
    background-color:#251d15;
}
.library-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    grid-gap: 20px;
    height: 50%;
    width: 50%;
    z-index: 0;
}

.form-popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    z-index: 1;
}
.form-container {
    text-align: center;
    width: 317px;
    padding-top: 10px;
    margin: auto;
    background-color: white;
    background-color: rgb(92, 92, 92);
    opacity: 95%;
    border: 3px solid black;
}
.new-book {
    background-color: rgb(92, 92, 92);
    color: white;
    border: none;
    width: 317px;
    height: 50px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid black;
}
.button-container {
    display: flex;
    justify-content: center;
    
}

.form-container input[type=text], .form-container input[type=number] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-size: 14px;
  }

.form-buttons-container {
    display: grid;
    justify-items: center;
    padding-top: 5px;
}

label {
    color: white;
    font-weight: bolder;
    font-size: 12px; 
    margin-bottom: 10px;   
}

.form-button {
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    font-weight: bolder;
        
}
.read {
    font-weight: bolder;
    color: white;
}

.book-card {
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
    height: 300px;
    width: 200px;
    position: relative;
    background-color: #5f4835;
    margin-top: 10px;
}
.book-card-text {
    padding: 10px;
    font-weight: normal;
    font-size: 14px;
    color: white;
}

.remove-button {
    background-color: red;
    color: white;
    width: 150px;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid white;
}
.read-button {
    color: white;
    width: 150px;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid white;
}

.button-container-div {
    display: flex;
    margin-bottom: 5px;
}

